Package: emt.paisseon.cowsay
Name: cowsay
Version: 0.0.2
Architecture: iphoneos-arm
Description: Cowsay but it's written in C
Maintainer: Paisseon
Author: Paisseon
Conflicts: cowsay
Section: System
Icon: https://paisseon.github.io/icons/cowsay.png
SileoDepiction: https://paisseon.github.io/depictions/cowsay.json
Depiction: https://pinpal.github.io/Sileo-Depiction-WebViews/?json=https://paisseon.github.io/depictions/cowsay.json&name=Cowsay&dev=Paisseon
Tag: role::hacker
